html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Jost', sans-serif !important;
  line-height: 1.4;
  box-sizing: border-box;
  color: #333333 !important; }

body::-webkit-scrollbar {
  width: 0.5rem; }

body::-webkit-scrollbar-track {
  background: #fff; }

body::-webkit-scrollbar-thumb {
  background: #fcc41d; }

input {
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 600px;
  margin: 0 auto;
  width: 90% !important; }

ul {
  list-style: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

p {
  margin: 0rem 0;
  color: #9e9e9e; }

a {
  text-decoration: none; }

.logo {
  margin: 1rem 0 3rem 0;
  border-bottom: 1px solid #f5f7f6; }

.logo__img {
  display: flex;
  justify-content: center; }

.highlight-dark {
  color: #007cc7;
  font-size: 1.6rem;
  border-radius: 10px;
  font-weight: lighter; }

.highlight-light {
  background: #fcc41d;
  color: #fff;
  padding: 0.2rem 0.7rem;
  font-size: 1.6rem;
  border-radius: 10px;
  font-weight: bold; }

.description {
  font-size: 1.6rem; }

.description__center {
  margin: 1srem 0; }

.question {
  text-align: center; }
  .question p {
    font-weight: bold; }
    .question p b {
      color: #21bf73;
      display: block;
      font-size: 2.2rem; }

.question__section {
  margin: 4rem 0;
  font-size: 1.6rem; }

.question__answer {
  background: #fcc41d;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 3rem;
  -webkit-box-shadow: 4px 15px 76px -34px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 4px 15px 76px -34px rgba(0, 0, 0, 0.45);
  box-shadow: 4px 15px 76px -34px rgba(0, 0, 0, 0.45); }
  .question__answer a {
    display: block;
    text-align: center;
    background: #fff;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin: 1.5rem 0;
    color: #007cc7;
    font-weight: bold;
    transition: ease-in-out 0.2s; }
    .question__answer a:hover {
      background: #007cc7;
      color: #fff; }

.question > p {
  font-size: 2rem;
  color: #007cc7; }

.winners__section {
  font-size: 1.6rem; }
  .winners__section h1 {
    margin-top: 8rem;
    margin-bottom: 3rem; }

.winner__person {
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 4px 15px 36px -33px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 4px 15px 36px -33px rgba(0, 0, 0, 0.45);
  box-shadow: 4px 15px 36px -33px rgba(0, 0, 0, 0.45);
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 0; }
  .winner__person .winner__img {
    margin-right: 2rem;
    align-items: center;
    display: flex; }
    .winner__person .winner__img img {
      border-radius: 50px;
      border: 4px solid #007cc7;
      width: 50px; }
  .winner__person .winner__details h2 {
    cursor: pointer; }
  .winner__person .winner__details p {
    margin: 0; }

.winners > h2 {
  text-align: center;
  color: #007cc7; }

@media (max-width: 380px) {
  .logo img {
    width: 200px; }
  .highlight-light {
    line-height: 5rem; } }
